{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="user-dashboard">

<div class="hero-section">
    <h1 style="color: rgb(239, 92, 13);">Welcome to SkinCare Hub</h1><br>
    <p style="color: black;">Personalized skincare products, DIY remedies, doctor suggestions & more — all in one place.</p><br>

</div>

<div class="features">
    <div class="feature-box">
        <h3 style="color: rgb(239, 92, 13);">Skin Type Quiz</h3>
        <p style="color: black;">Know your skin better with our expert-designed quiz.</p>
    </div><br>
    <div class="feature-box">
        <h3 style="color: rgb(239, 92, 13);">AM/PM Routines</h3>
        <p style="color: black;">Build and save your own skincare routine by skin type.</p>
    </div><br>
    <div class="feature-box">
        <h3 style="color: rgb(239, 92, 13);">Homemade Tips</h3>
        <p style="color: black;">Explore safe and natural DIY skincare remedies.</p>
    </div><br>
</div>
</div>
{% endblock %}
