# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
myenv/
venv/
env/
.venv/

# Environment Variables
.env

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db