{% extends "main.html" %}

{% block content %}
<div class="container" style="text-align: center;">
    <h1>Article history</h1>
    

    <form enctype="multipart/form-data">
        <input type="text" name="q"  placeholder="Search articles...">
        <select name="category" id="">
            <option value="">All categories</option>
            {% for i in categories %}
            <option value="{{i.id}}" {% if i.id|stringformat:"s" %} selected{% endif %}>
                {{i.name}}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>

    </form>


    <ul>
        {% for i in data %}
        <li>
            id:{{i.id}} <br>
            Title:{{i.title}} <br>
            Description{{i.desc}} <br>
            Author{{i.author}} <br>
            Cost{{i.cost}} <br>
            image:{% if i.image %}
                <img src="{{i.image.url}}" alt="Image" width="100" height="100"> <br>
                {% else %}
                No image available <br>
            {% endif %}
            video:{% if i.video %}
                <video src="{{i.video}}" controls></video> <br> 
                {% else %}
                No video available <br>
            {% endif %}

            

            
            <a href="{% url 'restore_article' i.id %}"><button>restore</button></a><br><br>
            <a href="{%url 'read_article'%}"><button>back</button></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}