{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    <center> 
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        
        {% endblock %}

    </center>
   
</body>  
<script>
    setTimeout(function() {
        var messages = document.getElementById('messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 3000); // Hide messages after 3 seconds
</script>
</html>